body, menu {
    margin: 0;
}

.menu {
    background-color: bisque;
}

.ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.li {

    padding: 1em;
    list-style: none;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover{
    color: indianred;
}

.menu2{
    background-color: rgb(255, 244, 196);
.ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}


}
.menu3{
    background-color: rgb(255, 254, 196);
.ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}


}
.menu4{
background-color: rgb(242, 255, 196);
.ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

}
.menu5{
    background-color: rgb(225, 255, 196);
.ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: grey;
    text-align: center;
    font-weight: 1000;

}