body{
    background-color: grey;
    color: black;
    font-family: fantasy;
    margin: 0;

}
.hero{
    align-items: start;
    background-image: url("../imgs/1920_viajeronocturno.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    font-size: 20px;
    justify-content: center;
    height: 500px;
}
.content{
        margin: 100px;
}

.pie-pagina{
    align-content: center;
}